<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user, size: Settings.gravatar %>
      </h1>
      <p>
        <%= @user.email %>
      </p>
    </section>
  </aside>
  <%= link_to t(".wordslist"), words_path, class: "btn btn-primary" %>
  <%= link_to t(".startlesson"), categories_path, class: "btn btn-primary" %>
</div>
