<div class="col-md-9 col-md-offset-3">
  <div class="col-md-12">
    <h2><%= @category.name %></h2>
    <%= link_to t("back"), admin_categories_path %>
    <%= link_to t("edit"), edit_admin_category_path %>
    <%= link_to t("delete"), admin_category_path, method: :delete, data: {confirm: t "confirm"} %>
  </div>
</div>
