<tr>
  <td><%= link_to category.name, category_path(category) %></td>
  <td><%= link_to t(:details), category, class: "btn btn-primary" %></td>
  <td><%= link_to t(:start_lesson), categories_path, class: "btn btn-primary" %></td>
</tr>
